{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{% url "accounts:logout" %}">
        {% csrf_token %}
        <p class="lead" style="color: lightgray"> Want to log out? </p>
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
{% endblock %}
