{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quadzzila Gym</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{% static 'static_css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'static_css/schedule.css' %}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>
    <!--script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1db2ef141e.js" crossorigin="anonymous"></script>
    <script src="{% static 'static_js/wow.min.js' %}"></script>
    <script>new WOW().init();</script>
    <script src="{% static 'static_js/schedule.js' %}"></script>


</head>

<body style="position: relative; background-color: #141b25">
<nav class="navbar navbar-expand-lg navbar-dark fixed_top" style="background-color: darkslategrey; margin-bottom: 30px">
    <div class="container">
        <div class="hstack gap-3">
            <a class="navbar-brand"><img src="{% static 'static_img/ceratosaurus.png' %}" alt="logo" width="50"
                                         height="50"
                                         class="d-inline-block align-top"></a>
            <p class="lead" style="color: #6bc499; margin-top: 0; margin-bottom: 0">Quadzzila Gym</p>
        </div>
        <div class="navbar-nav ml-auto">
            <button class="navbar-toggler" type="button" data-bs-target="#navID" data-bs-toggle="collapse"
                    aria-controls="navID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navID" style="margin-right: 10px">
                <div class="navbar_nav">
                    <a class="nav-item nav-link active btn-lg" href="{% url 'index' %}">
                        <i class="fas fa-home" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home"
                           style="color: #6bc499"></i>
                    </a>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navID" style="margin-right: 10px">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'scheduler:hall_selection' %}"><p class="lead"
                                                                                                           style="color: #6bc499; margin-top: 0; margin-bottom: 0">
                            Schedule</p></a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navID" style="margin-right: 10px">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'accounts:user_profile' %}">
                            <p class="lead" style="color: #6bc499; margin-top: 0; margin-bottom: 0">User Profile:
                                <b style="color: #8fb8fe">{{ user.username }}</b></p>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navID">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active"
                           href="{% url 'accounts:logout_request' %}">
                            <p class="lead" style="color: #6bc499; margin-top: 0; margin-bottom: 0">Log Out</p>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="navID" style="margin-right: 10px">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'accounts:login' %}">
                            <p class="lead" style="color: #6bc499; margin-top: 0; margin-bottom: 0">Log In</p>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navID">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'accounts:sign_up' %}">
                            <p class="lead" style="color: #6bc499; margin-top: 0; margin-bottom: 0">Sign Up</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid" style="background-color: #141b25; width: 100%; height:inherit">
    <div class="container-fluid" style="width: 100%">
        <div class="row">
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col d-none d-md-block" style="padding-left: 0">
                <img src="{% static 'static_img/quadzilla.png' %}" alt="Quadzilla" class="img-fluid float-start my-5">
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid"
        style="background-color: darkslategray; padding: 10px 10px; position: absolute; margin-top: 50px">
    <div class="hstack gap-3 justify-content-center" style="color: #141b25">
        <div>Icons made by <a style="color: #8fb8fe" href="https://www.freepik.com" title="Freepik">Freepik</a>
            from <a style="color: #8fb8fe" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com </a>
        </div>
        <div class="vr"></div>
        <div>Image from <a style="color: #8fb8fe"
                           href="https://www.teeturtle.com/products/quadzilla?variant=31549143753">Teeturtle</a></div>
    </div>
    <hr style="color: #141b25">
    <div class="text-center" style="color: #141b25; font-size: medium">© 2021 <a href="https://gitlab.com/vixen_python"
                                                                                 title="vixen_python"
                                                                                 style="color: #8fb8fe">vixen_python</a>
    </div>
</footer>

</body>

</html>