{% extends 'base.html' %}
{% load scheduler_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3" style="color: #6bc499">{{ exercise.name }}</h1>
                <hr class="my-4" style="border-color: darkslategrey">
                <p class="lead" style="color: lightgray; line-height: 1.7">{{ exercise.description }}</p>
                <a href="{% url 'index' %}" class="btn" style="color: #6bc499"><i class="fas fa-arrow-alt-circle-left"
                                                                                  data-bs-toggle="tooltip" title="Back"
                                                                                  data-bs-placement="bottom"
                                                                                  style="background-color: #141b25; font-size: 4rem"></i></a>
            </div>
            <div class="col">
                <h1 class="display-3" style="color: #6bc499"> Classes </h1>
                <hr class="my-4" style="border-color: darkslategrey">
                {% for event in exercise.events.all %}
                    {% if event.active_schedules %}
                    <ul>
                        <li class="lead"
                            style="color: lightgray">
                            {{ event.difficulty_level|difficulty_enum|capfirst }}
                            with {{ event.lector.fullname }}:
                            {% for class in event.active_schedules %}
                                <ul>
                                    <li class="lead"
                                        style="color: lightgray; font-size: 0.8em">
                                        {{ class.day_of_week }} {{ class.time|time:"G:i" }}</li>
                                </ul>
                            {% endfor %}
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <a href="{% url 'scheduler:table' exercise.events.first.schedule.first.gym_hall|hall_enum %}"
                       class="btn" style="color: #6bc499"><i class="far fa-calendar-alt"
                                                             data-bs-toggle="tooltip"
                                                             title="Look in the schedule"
                                                             data-bs-placement="bottom"
                                                             style="background-color: #141b25; font-size: 4rem"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
