{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <table style="color: lightgray" class="lead">
            {{ form }}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}