{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h2 class="display-3" style="color: #6bc499">Select Hall</h2>
        <hr class="my-4" style="border-color: darkslategrey">
        <div class="d-flex flex-row justify-content-start align-items-center wow slideInLeft" data-wow-duration="1s">
            <div><img src="{% static 'static_img/mirror_room.png' %}" alt="Mirror room"
                      class="rounded-circle float-start" style="height: 20rem"></div>
            <div><a class="btn" style="color: #6bc499"
                    href="{% url 'scheduler:table' 'mirror_room' %}"><h3 class="display-4 px-4" style="color: #6bc499">
                Mirror Room<i class="fas fa-angle-double-right" style="font-size: 3rem; padding-left: 20px"
                              data-bs-toggle="tooltip" title="Go to schedule"
                              data-bs-placement="right"></i></h3></a></div>

        </div>
        <div class="d-flex flex-row justify-content-end align-items-center wow slideInRight" data-wow-duration="1s"
             data-wow-delay="0.5s">
            <div><a class="btn" style="color: #6bc499"
                    href="{% url 'scheduler:table' 'inside_hall' %}"><h3 class="display-4 px-4" style="color: #6bc499">
                <i class="fas fa-angle-double-left"
                   style="font-size: 3rem; padding-right: 20px"
                   data-bs-toggle="tooltip" title="Go to schedule"
                   data-bs-placement="left"></i>Inside Hall</h3></a></div>
            <div><img src="{% static 'static_img/inside.png' %}" alt="Inside hall" class="rounded-circle float-end"
                      style="font-size: 20rem"></div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-center wow slideInLeft" data-wow-duration="1s"
             data-wow-delay="1s">
            <div>><img src="{% static 'static_img/outside.png' %}" alt="Outside" class="rounded-circle float-start"
                       style="height: 20rem"></div>
            <div><a class="btn " style="color: #6bc499" href="{% url 'scheduler:table' 'outside' %}"><h3
                    class="display-4 px-4" style="color: #6bc499">Outside<i
                    class="fas fa-angle-double-right" style="font-size: 3rem; padding-left: 20px"
                    data-bs-toggle="tooltip"
                    title="Go to schedule"
                    data-bs-placement="right"></i></h3></a></div>
        </div>
    </div>
{% endblock %}

