{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-2" style="height: inherit">
        <h2 class="display-4" style="color: #6bc499">Welcome to the gym <b>QUADZZILA</b></h2>
        <div class="row" style="height: inherit">
            {% for exercise in object_list %}
                <div class="col-md-4 mt-5">
                    <div class="card text-center mb-3 h-100 border-0"
                         style="width: content-box; background-color: #8fb8fe">
                        <img src="{% static exercise.image_name %}" alt="{{ exercise.name }}" class="rounded-top">
                        <div class="card-body rounded-bottom" style="background-color: #405071">
                            <a href="{% url 'exercise' exercise.name %}" class="btn"
                               style="color: #8fb8fe; font-size: 3rem">
                                <h3 class="card-title" style="color: #8fb8fe">{{ exercise.name }}
                                <i class="fas fa-info-circle"
                                   data-bs-toggle="tooltip"
                                   title="Learn More"
                                   data-bs-placement="bottom" style="background-color: #405071"></i></h3></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
