{% extends 'base.html' %}
{% load static %}
{% load scheduler_tags %}

{% block content %}
    {% if schedule %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="display-3"
                        style="color: #6bc499">{{ schedule.date|date:"l j.n." }} {{ schedule.time|time:"G:i" }}</h2>
                    <h2 class="display-3" style="color: #6bc499; font-size: 2rem"> {{ schedule.event.exercise.name }} with <i style="color: #8fb8fe">{{ schedule.event.lector.first_name }}
                                {{ schedule.event.lector.last_name }}</i></h2>
                    <hr class="my-4" style="border-color: darkslategrey">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form method="POST">
                        {% csrf_token %}
                        <div style="color: lightgray; margin-bottom: 30px">
                            <h3 class="lead"> Gym hall: {{ schedule.gym_hall|hall_enum|capfirst }}</h3>


                            <h3 class="lead"> Price: {{ schedule.event.price }},-</h3>
                            <h3 class="lead"> Difficulty
                                level: {{ schedule.event.difficulty_level|difficulty_enum|capfirst }}</h3>
                            <h3 class="lead"> Duration: {{ schedule.event.duration }} h</h3>
                            <h3 class="lead">
                                Capacity: {{ schedule.capacity_filled }}/{{ schedule.event.capacity }}</h3>
                        </div>
                        {% if registered %}
                            <input type="submit" formaction="{{ cancel_url }}" value="Cancel" class="btn btn-danger">
                        {% else %}
                            {% if schedule.capacity_filled == schedule.event.capacity %}
                                <div class="alert" role="alert"
                                     style="background-color: #405071; border-color: #405071">
                                    <h3 class="display-5" style="color: lightgray"><i class="fas fa-sad-tear"
                                                                                      style="color: lightgray; margin-right: 10px"></i>You
                                        can not subscribe, the capacity of this class is full</h3></div>
                            {% else %}
                                <input type="submit" value="Submit" class="btn btn-primary">
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
                <div class="col">
                <h3 class="lead" style="color: lightgray">Participants:</h3>
                <div class="row">
                    {% for participation in schedule.participations.all %}
                        <div class="col-4 lead" style="color: #8fb8fe">{{ participation.participant.username }}</div>
                    {% endfor %}
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'scheduler:table' schedule.gym_hall|hall_enum %}" class="btn"
                       style="color: #6bc499"><i
                            class="fas fa-arrow-alt-circle-left"
                            data-bs-toggle="tooltip" title="Back"
                            data-bs-placement="bottom" style="background-color: #141b25; font-size: 4rem"></i></a>
                </div>
                <div class="col-9">
                    {% if messages %}
                        <div class="alert wow flipInX" role="alert"
                             style="color: #141b25; background-color: #6bc499; border-color: #6bc499; margin-bottom: 0">
                            {% for message in messages %}
                                <div class="lead" style="margin-bottom: 0; font-size: 2rem"><i
                                        class="fas fa-check-square"
                                        style="font-size: 2rem; padding-right: 2rem"></i>
                                    {{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3> There is no class in this combination of date and time</h3>
    {% endif %}
{% endblock %}
