{% extends 'base.html' %}
{% load static %}

{% block content %}
    <ul class="nav nav-tabs" style="border-color: #6bc499">
        <li class="nav-item">
            <a class="nav-link {% if room_type == 'mirror_room' %} active {% endif %} lead"
               href="{% url 'scheduler:table' 'mirror_room' %}">Mirror Room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if room_type == 'inside_hall' %} active {% endif %} lead"
               href="{% url 'scheduler:table' 'inside_hall' %}">Inside Hall</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if room_type == 'outside' %} active {% endif %} lead"
               href="{% url 'scheduler:table' 'outside' %}">Outside</a>
        </li>
    </ul>


    <div class="container-fluid" style="width: 100%; padding-left: 0; padding-right: 0">
        <table id="id-tab-schedule" class="display cell-border compact" style="width:100%">
            {# days of week #}
            <thead style="background-color: #141b25; border-color: #141b25">
            <tr>
                <th style="border-color: #141b25"></th>
                {% for row in header %}
                    <th class="lead" style="color: white; font-weight: normal">{{ row.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            {# hours of day #}
            <tbody>
            {% for hour in rows %}
                <tr>
                    <th class="lead"
                        style="background-color: #141b25; color: white; border-color: #141b25; width: 20px">{{ hour.hour }}</th>
                    {% for item in hour.days %}
                        {% if item.event %}
                            <td id="schedule-cell"  {% if item.participate %}
                                style="background-image: radial-gradient(rgba(47,79,79,0.7), rgba(47,79,79,1), #141b25); border-color: #141b25; cursor: pointer; color: white" {% else %}
                                style="background-image: radial-gradient(rgba(107,196,153,0.4), rgba(107,196,153,1)); border-color: #141b25; cursor: pointer; color: #405071" {% endif %}
                                data-link="{% url 'scheduler:register' room_type item.date hour.hour %}">
                                <p class="small" style="margin-bottom: 0; text-align: center">
                                    <b>{{ item.event.exercise.name }}</b>
                                    <br>
                                    {{ item.event.lector.fullname }}
                                    <br>
                                    {{ item.schedule.capacity_filled }}/{{ item.event.capacity }}
                                </p>
                            </td>
                        {% else %}
                            <td style="background-image:radial-gradient(rgba(64,80,113,0.7), rgba(64,80,113,0.8), rgba(64,80,113,1)) ; width: 120px; height: 60px; border-color: #141b25"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
