{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3" style="color: #8fb8fe">{{ user.username }}</h1>
                <hr class="my-4" style="border-color: darkslategrey">
                <ul class="lead" style="color: lightgray">
                    <li><b>First name: </b>{{ user.first_name|capfirst }}</li>
                    <li><b>Last name: </b>{{ user.last_name|capfirst }}</li>
                    <li><b>Email: </b>{{ user.profile.email }}</li>
                    <li><b>Phone number: </b>{{ user.profile.phone_number }}</li>
                    <li><b>Date of Birth: </b>{{ user.profile.date_of_birth|date:"j. F Y" }}</li>
                </ul>
            </div>
            <div class="col">
                <h1 class="display-3" style="color: #6bc499">Your classes</h1>
                <hr class="my-4" style="border-color: darkslategrey">
                <ul class="lead">
                    {% for class in user.active_registrations %}
                        <li style="color: lightgray">
                            <form action="{{ class.cancel_url }}" method="POST">
                                {{ class.schedule_event.date|date:"l j.n." }} {{ class.schedule_event.time|time:"G:i" }} {{ class.schedule_event.event.exercise.name }}
                                {% csrf_token %}
                                <button type="submit" class="btn" style="color: red"><i
                                        class="far fa-window-close" data-bs-toggle="tooltip" title="Cancel"
                                        data-bs-placement="right"
                                        style="background-color: #141b25; font-size: 2rem"></i>
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
